
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb {
    @{
        ViewData["BreadcrumbTitle"] = "Dashboard";
    }
}

<center>
    <p style="font-size: 50px;">This is a administrator site</p>
</center>