@using Newtonsoft.Json;
@model HKQTravelling.Models.Users

@{
    ViewData["Title"] = "Đăng nhập";
}

<h2>Đăng nhập</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label for="UserName">Tên đăng nhập:</label>
        <input type="text" id="UserName" name="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Mật khẩu:</label>
        <input type="password" id="Password" name="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    <br />
    <p>Nếu bạn chưa có tài khoản thì hãy nhấn vào nút <a asp-area="" asp-controller="Account" asp-action="Register">Đăng ký</a></p>
</form>

<script>
    // Kiểm tra xem có thông báo từ ViewData hay không
    var loginError = @Html.Raw(JsonConvert.SerializeObject(ViewData["LoginError"]));

    // Nếu có thông báo, hiển thị nó bằng cửa sổ thông báo (alert)
    if (loginError) {
        alert(loginError);
    }
</script>
